<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.vue.dao.LoginMapper">

    <select id="verUserInfo" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT count(1) FROM `user`
        <where>
            user_name = #{userName} and pad = #{pad}
        </where>
    </select>
</mapper>